@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@import "_general";
@import "_header";
@import "_top";
@import "_categories";
@import "_cards";
@import "_features";
@import "_footer";
@import "_breadcrumb";
@import "_filter";
@import "_pagination";
@import "_product";
@import "_cart";
@import "_registration";

@media (max-width: 1079px) {
   .container {
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: border-box;
   }
   .categories {
      justify-content: space-around;
   }
   .cards-list {
      justify-content: center;
   }
   .card {
      &:nth-child(odd) {
         margin: 0 8px 30px 0;
      }
      &:nth-child(even) {
         margin: 0 0 30px 8px;
      }
      &_last {
         display: none;
      }
   }
   .product {
      &__box {
         padding: 0;
      }
   }
}

@media (max-width: 850px) {
   .container {
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: border-box;
   }
   .cart {
      padding-top: 59px;
      flex-direction: column;
      &-product {
         max-width: 100%;
      }
      &__btn {
         display: flex;
         justify-content: center;
         &-item {
            margin: 0 25px;
         }
      }
      &__form {
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
         padding: 64.5px 0 0;
         & .adress {
            padding: 0;
         }
      }
   }
}

@media (max-width: 768px) {
   .menu {
      &-list {
         min-height: 367px;
      }
   }
   .top {
      &__box {
         height: 367px;
      }
      &__heading {
         margin-right: 15px;
      }
      &__title {
         font-size: 44px;
         line-height: 53px;
      }
      &__subtitle {
         font-size: 24px;
         line-height: 29px;
      }
   }
   .categories {
      justify-content: space-between;
      padding-bottom: 154px;
      &__link {
         width: 232px;
         &_accesories {
            width: 100%;
         }
      }
      &__item {
         height: 168px;
         margin-top: 19px;
      }
   }
   .features {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 48px 0 16px;
      &__item {
         margin-bottom: 48px;
      }
   }
   .subscribe {
      flex-direction: column;
      padding-top: 53px;
      padding-bottom: 140px;
      &__left {
         margin: 0 0 60px;
      }
      &__form {
         &-title {
            font-size: 18px;
            line-height: 29px;
         }
         &-subtitle {
            line-height: 27px;
         }
      }
      &__newletter {
         margin-right: 0;
      }
   }
   .filter {
      height: 81px;
      &__catalog {
         justify-content: end;
      }
   }
   .dropdown-menu_price {
      flex-direction: column;
      &-input {
         width: 50px;
         &-mg {
            margin: 0 0 5px;
         }
      }
   }
   .empty-block {
      display: none;
   }
   .product {
      height: 624px;
      &-info {
         top: 624px;
      }
   }
   .cards__page-product {
      padding: 730px 0 0;
   }
   .card {
      margin-bottom: 16px;
   }
   .registration {
      padding-top: 40px;
      padding-bottom: 96px;
      &__text {
         padding-left: 22.5px;
      }
   }
}

@media (max-width: 767px) {
   .card {
      &:nth-child(odd) {
         margin: 0 8px 30px;
      }
      &:nth-child(even) {
         margin: 0 8px 30px;
      }
      &_last {
         display: block;
      }
   }
}

@media (max-width: 727px) {
   .categories {
      justify-content: space-around;
   }
   .product-info__price {
      &::after {
         left: -279px;
         width: 590px;
      }
   }
}

@media (max-width: 600px) {
   .product-info__price {
      &::after {
         left: -209px;
         width: 450px;
      }
   }
   .cart__form {
      flex-direction: column;
      & .adress {
         padding-bottom: 48.5px;
      }
   }
}

@media (max-width: 480px) {
   .container {
      padding-left: 9px;
      padding-right: 9px;
   }
   .header {
      &__contacts {
         display: none;
      }
      &__basket {
         display: none;
      }
   }
   .top {
      &__box {
         justify-content: center;
         background-image: none;
      }
      &__heading {
         margin-right: 0;
         &::before {
            height: 61px;
            top: 5px;
         }
      }
      &__title {
         font-size: 38px;
         line-height: 45.6px;
      }
      &__subtitle {
         font-size: 20px;
         line-height: 24px;
      }
   }
   .categories {
      padding: 32px 0 64px;
      justify-content: center;
      &__link {
         width: 343px;
      }
      &__item {
         height: 247px;
         margin-top: 32px;
      }
   }
   .subscribe {
      padding-bottom: 109px;
      & p {
         font-size: 18px;
         line-height: 22px;
      }
      &__form {
         &-title {
            font-size: 24px;
            line-height: 36px;
         }
         &-subtitle {
            font-size: 14px;
            line-height: 21px;
         }
      }
   }
   .footer-bottom {
      &__content {
         display: flex;
         flex-direction: column-reverse;
         padding-top: 43px;
         padding-bottom: 9px;
      }
      &__copy {
         padding-top: 40px;
      }
   }
   .breadcrumb {
      justify-content: center;
      flex-direction: column;
   }
   .filter {
      &__box {
         width: 37.5px;
      }
      &__btn {
         & svg {
            width: 37.5px;
            height: 25px;
         }
      }
      &__name {
         display: none;
      }
      &__catalog {
         font-size: 12px;
         line-height: 14px;
      }
   }
   .dropdown-menu_price {
      padding: 5px;
      &-input {
         width: 40px;
      }
   }
   .cards {
      padding-bottom: 24.5px;
   }
   .pagination {
      &__box {
         margin-bottom: 63.5px;
      }
   }
   .product {
      &__box {
         padding: 0;
      }
      &-info {
         &__text {
            max-width: 326px;
         }
         &__price {
            padding-bottom: 81.5px;
            &::after {
               top: 32px;
               left: -65px;
               width: 174px;
            }
         }
         &__filter {
            margin: 0 13px;
         }
         &__btn {
            margin-top: 64px;
         }
      }
   }
   .cards__page-product {
      padding: 664px 0 0;
   }
   .cart {
      padding-top: 39px;
      padding-bottom: 96px;
      &-product {
         &__item {
            height: 188px;
            & img {
               max-width: 144px;
            }
         }
         &__info {
            padding: 13px 17px 0 17px;
            font-size: 14px;
            line-height: 17px;
         }
         &__name-and-cross {
            padding-bottom: 25px;
            & button {
               & svg {
                  width: 10px;
                  height: 11px;
               }
            }
         }
         &__name {
            font-size: 16px;
            line-height: 19.2px;
            max-width: 144px;
         }
      }
      &__btn {
         justify-content: space-between;
         &-item {
            margin: 0;
            font-size: 12px;
            line-height: 14px;
            width: 174px;
            padding: 9px 0;
         }
      }
   }
   .registration {
      flex-direction: column;
      align-items: center;
      &__form {
         margin-bottom: 40px;
      }
      &__text {
         padding-left: 0;
      }
   }
}
