@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.not__footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

header {
  background: #222222;
  width: 100%;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
}

.header__box__left,
.header__box__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__padding__left {
  padding-left: 33px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 44px;
  height: 38px;
  text-decoration: none;
  padding-right: 41px;
}

.logo:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.logo:active {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

/*=================== search ================*/
.header__icon {
  fill: #e8e8e8;
}

.form__search {
  position: relative;
}

.form__search:hover svg {
  fill: #f16d7f;
}

.search__form__btn {
  position: absolute;
  top: -1px;
  left: 30px;
  width: 0;
  min-height: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 16px;
}

.search__form__btn:focus {
  width: 200px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 1px solid #ffffff;
}

.search__form__btn:focus ~ label > svg {
  fill: red;
}

/* ================== menu__btn ===================== */
.menu {
  width: 32px;
  height: 23px;
}

.menu__input {
  display: block;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.menu__btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #e8e8e8;
  position: relative;
  -webkit-transition: background-color 650ms ease;
  transition: background-color 650ms ease;
}

.menu__btn span::before,
.menu__btn span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #e8e8e8;
  position: absolute;
  top: -9px;
  left: 0;
  -webkit-transition: background-color 650ms ease;
  transition: background-color 650ms ease;
}

.menu__btn span::after {
  top: 9px;
}

.menu__btn:hover span,
.menu__btn:hover span::before,
.menu__btn:hover span::after {
  background-color: #f16d7f;
}

.menu__btn:active span,
.menu__btn:active span::before,
.menu__btn:active span::after {
  background-color: red;
}

.menu__input {
  display: none;
}

.menu__input:checked ~ .menu__list {
  display: block;
}

.menu__list {
  display: none;
  width: 232px;
  min-height: 764px;
  padding: 16px 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  list-style-type: none;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 20;
}

.menu__list__cross {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 170px;
}

.menu__list__cross::before,
.menu__list__cross::after {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background-color: #6f6e6e;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: background-color 650ms ease;
  transition: background-color 650ms ease;
}

.menu__list__cross::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu__list__cross:hover::before,
.menu__list__cross:hover::after {
  background-color: #b7b6b6;
}

.menu__list__cross:active::before,
.menu__list__cross:active::after {
  background-color: #222222;
}

.menu__list__title {
  display: block;
  margin: 9px 0 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.menu__title > a,
.menu__list__categories > a,
.menu__sublist__item > a {
  font-weight: 400;
  text-decoration: none;
}

.menu__list__categories > a {
  display: block;
  margin-bottom: 11px;
  color: #f16d7f;
  text-transform: uppercase;
}

.menu__list__categories:hover > a {
  color: #a93bd4;
  text-decoration: underline;
}

.menu__list__categories:active > a {
  color: #ffae00;
}

.menu__sublist {
  padding-left: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

.menu__sublist__item > a {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 11px;
  color: #6f6e6e;
}

.menu__sublist__item:hover a {
  text-decoration: underline;
}

.menu__sublist__item:active a {
  text-decoration: none;
  color: #ffae00;
}

/* =============== contacts__btn ========*/
.contacts__btn:hover svg {
  fill: #f16d7f;
}

.contacts__btn:active svg {
  fill: red;
}

/*==================== basket ===========*/
.basket {
  position: relative;
}

.basket:hover svg {
  fill: #f16d7f;
}

.basket:active svg {
  fill: red;
}

.counter {
  color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  background-color: #f16d7f;
  position: absolute;
  top: -9px;
  right: -9px;
}

/* ================= top ================== */
.top {
  background: #f1e4e6;
  width: 100%;
}

.top__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 764px;
  background-image: url(img/top__photo.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left;
}

.top__heading {
  text-transform: uppercase;
  position: relative;
  margin-right: 94px;
}

.top__heading::before {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  position: absolute;
  top: -1px;
  left: -28px;
}

.top__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.top__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.text__pink {
  color: #f16d7f;
}

.main__content {
  padding: 65px 0 95px;
}

/* =============== categories ============== */
.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 360px;
  min-height: 260px;
  margin: 0 30px 30px 0;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
}

.categories__item__woman {
  background-image: url(img/project__left.jpg);
}

.categories__item__men {
  background-image: url(img/project__center.jpg);
}

.categories__item__kids {
  background-image: url(img/project__right.jpg);
}

.categories__item__accesories {
  width: 100%;
  background-image: url(img/project__bottom.jpg);
}

.categories__item:nth-child(4n-1),
.categories__item__accesories {
  margin: 0 0 30px;
}

.categories__title,
.categories__subtitle {
  width: 100%;
  text-align: center;
}

.categories__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.categories__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

/* ================= cards ================ */
.title__for__cards {
  text-align: center;
  padding-bottom: 48px;
}

.title__for__cards__heading {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.title__for__cards__text {
  font-weight: 400;
  color: #9f9f9f;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 18px;
}

.card__item {
  position: relative;
  margin-bottom: 30px;
}

.card__link {
  text-decoration: none;
}

.card {
  max-width: 360px;
  background: #f8f8f8;
}

.card__picture__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #f7e4e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card__text__box {
  padding: 25px 28px 20px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card__heading {
  padding-bottom: 12px;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.card__text {
  padding-bottom: 18px;
  font-weight: 300;
  color: #5d5d5d;
}

.card__price {
  font-size: 16px;
  line-height: 19px;
}

.card__btn {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 138px;
  padding: 10px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 30%;
}

.card__btn__text {
  padding-left: 11px;
}

.card__item:hover .card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__item:hover .card__btn:hover {
  background-color: #ccc;
  color: #000;
}

.card__item:hover .card__picture {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.all__product__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__products {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  border: 1px solid #ff6a6a;
  padding: 14px 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
}

.btn__products:hover {
  background-color: #f16d7f;
  color: #ffffff;
}

/* ============== features ============== */
.features {
  background: #222224;
  width: 100%;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 104px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.features__item {
  text-align: center;
  color: #fbfbfb;
  max-width: 360px;
}

.features__icon {
  fill: #f16d7f;
}

.features__heading {
  padding: 25px 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 19.96px;
  line-height: 24px;
}

/* ============== footer__subscribe ============ */
.footer__subscribe {
  background-image: url(img/footer_subscribe_background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}

.footer__subscribe__opacity {
  background: #fbfbfb67;
}

.footer__subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 86px 0 126px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__subscribe__left__block {
  text-align: center;
  max-width: 359px;
  margin-right: 327px;
}

.footer__subscribe__text {
  padding-top: 35px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer__subscribe__newletter {
  text-align: center;
  color: #222224;
}

.subscribe__form__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
}

.subscribe__form__subtitle {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 356px;
}

.subscribe__email {
  background: #e1e1e1;
  width: 256px;
  padding: 23px 0 20px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 40px 0 0 40px;
  background-color: #e1e1e1;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.67;
  margin-top: 32px;
}

.subscribe__email:focus {
  outline: 2px solid #f16d7f;
}

.subscribe__btn {
  width: 100px;
  font-weight: 400;
  background-color: #f16d7f;
  border: none;
  border-radius: 0 40px 40px 0;
  text-align: center;
  color: #ffffff;
  margin-top: 32px;
}

.subscribe__btn:hover {
  background-color: #e05c6e;
}

.subscribe__btn:active {
  background-color: red;
}

/* ============== footer__bottom ============== */
.footer__bottom {
  background-color: #222224;
  width: 100%;
}

.footer__bottom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}

.copy {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.links__to__social__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31px;
  height: 32px;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.link__soc:hover {
  background-color: #f16d7f;
}

.link__soc:active {
  background-color: transparent;
}

.link__soc:hover .fab {
  color: #ffffff;
}

.fab {
  color: #000;
  font-weight: bolder;
}

.fa-facebook-f,
.fa-twitter {
  font-size: 16px;
}

.fa-instagram {
  font-size: 18px;
}

.fa-pinterest-p {
  font-size: 17px;
}

.links__soc__margin {
  margin-right: 7px;
}

/* ============= страница catalog ===========*/
.top__catalog__bcg {
  min-height: 148px;
  background-color: #f8f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__catalog__heading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.top__catalog__way {
  color: #636363;
}

.top__catalog__way ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link__top__catalog__way,
.link__top__catalog__way__last {
  text-decoration: none;
  text-transform: uppercase;
  color: #636363;
  font-weight: 400;
}

.link__top__catalog__way::after {
  content: "/";
  display: inline-block;
  margin: 0 5px;
}

.font__weight {
  font-weight: 700;
}

/* ============== filter ================== */
.filter__box {
  height: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__btn {
  position: relative;
}

.filter {
  position: absolute;
  top: 274px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  color: #000000;
  fill: #000000;
  font-weight: 600;
  width: 360px;
  padding: 13px 16px 16px;
  z-index: 1000;
  background-color: #ffffff;
}

.filter__btn__text {
  padding-right: 11px;
}

#switch__filter {
  display: none;
}

#switch__filter:checked ~ .filter {
  display: block;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__list {
  display: none;
}

#switch__filter:checked ~ .filter__list {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter__list__item,
.filter__sublist__item {
  text-decoration: none;
  font-weight: 400;
  color: #6f6e6e;
}

.filter__list__item {
  display: none;
}

.filter__list__items {
  padding-left: 17px;
  position: relative;
  padding-top: 24px;
  display: block;
}

.filter__list__items::after {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #f16d7f;
  position: absolute;
  top: 13px;
  left: 2px;
}

.filter__list__items::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
  position: absolute;
  top: 49px;
  left: 2px;
}

.filter__list__item:checked ~ .filter__sublist {
  display: block;
}

.filter__sublist {
  padding-top: 25px;
  display: none;
}

.filter__sublist__item {
  padding-bottom: 17px;
}

.filter__sublist__item__link {
  font-weight: 400;
  color: #6f6e6e;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 11px;
}

/* =============== pagination ==================*/
.pagination__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 96.5px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 15px;
  width: 283px;
}

.page__link {
  text-decoration: none;
  color: #c4c4c4;
  font-size: 16px;
  line-height: 19px;
}

.page__link:hover {
  color: #ef5b70;
}

.page__link:active {
  color: #000000;
}

.page__link__arrow {
  display: block;
  color: #000000;
}

/* ============== страница product ============== */
.top__product {
  background-color: #f7f7f7;
  height: 777px;
}

.top__box__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.product__info {
  position: absolute;
  top: 712px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  width: 100%;
  height: 601px;
}

.cards__page__product {
  padding: 665px 0 128px;
}
