.features {
   display: flex;
   justify-content: space-between;
   padding: 104px 0;
   box-sizing: border-box;
   &_bgc {
      background: #222224;
      width: 100%;
   }
   &__item {
      text-align: center;
      color: #fbfbfb;
      max-width: 360px;
   }
   &__icon {
      fill: $color_pink;
   }
   &__heading {
      padding: 25px 0 16px;
      box-sizing: border-box;
      font-size: 20px;
      line-height: 24px;
   }
}