.filter {
    height: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__box {
        justify-content: start;
        position: relative;
        box-sizing: border-box;
        text-transform: uppercase;
        color: #000000;
        fill: #000000;
        font-weight: 600;
        width: 360px;
        padding: 13px 16px 16px;
        z-index: 100;
        background-color: #ffffff;
        &_name {
            position: relative;
            z-index: 200;
        }
        &_input {
            display: none;
            &:checked ~ .filter__list {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    &__btn span {
        padding-right: 11px;
    }
    &__list {
        display: none;
        width: 360px;
        background-color: #ffffff;
        padding: 33px 16px 28px;
        box-sizing: border-box;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        &-item-switch {
            display: none;
        }
        &-items {
            padding-left: 17px;
            position: relative;
            padding-top: 24px;
            display: block;
            &::after {
                content: "";
                display: block;
                width: 5px;
                height: 37px;
                background-color: $color_pink;
                position: absolute;
                top: 13px;
                left: 2px;
            }
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: #ebebeb;
                position: absolute;
                top: 49px;
                left: 2px;
            }
        }
    }
    &__sublist {
        padding-top: 25px;
        display: none;
        &-item {
            padding-bottom: 17px;
            &-link {
                font-weight: 400;
                color: #6f6e6e;
                text-decoration: none;
                text-transform: capitalize;
                padding-left: 18px;
                box-sizing: border-box;
                padding-top: 11px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__catalog {
        display: flex;
        width: 360px;
    }
}

.filter__list-item,
.filter__sublist-item {
    text-decoration: none;
    font-weight: 400;
    color: #6f6e6e;
}

.filter__trending-input,
.filter__size-input,
.filter__price-input {
    display: none;
}

.filter__list-item-category:checked ~ .filter__sublist {
    display: block;
}

/*================ filter__cards =========================*/

.switch {
    margin-right: 9px;
}

.filter__trending-input:checked ~ .dropdown-menu_trending {
    display: block;
}

.filter__size-input:checked ~ .dropdown-menu_size {
    display: block;
}

.filter__price-input:checked ~ .dropdown-menu_price {
    display: flex;
}

.dropdown-menu_price {
    z-index: 100;
    position: absolute;
    left: 0;
    display: none;
    background-color: #ffffff;
    padding: 9px;
    border: 1px solid #eaeaea;
    text-transform: uppercase;
    text-align: start;
    &-input {
        width: 80px;
        &-mg {
            margin-right: 5px;
        }
    }
}

.empty-block {
    width: 360px;
}
